
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    line-height: 30px;
}

.header-site{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(imagens/macacocapa.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 250px;
    padding-bottom: 230px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.lead-text-center{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.content-site{
    padding-top: 120px;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #ffffff;    
    
}

.imagem {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 70pt;
    margin-right: 70pt;
}

.imagem1 {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 70pt;
    margin-right: 70pt;
}

.imagem2 {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 70pt;
    margin-right: 70pt;
}

.img-site{
    color: #000000;
    background-color: #EDEEF3;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
	margin-bottom: 500px;
}

.footer-site{
    background-color: #1DAD67;
    color:#000000;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.row-project{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.btn-danger{
    background: #000000;
	color: #ffffff;
	border-style:solid;
	border-color: #1DAD67;
	text-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-size: 10.5px;
    text-decoration: none;
    padding: 7px;
    position: inherit;
    width: 200px;
    margin-top: 20px 0;
    line-height: 13pt;
}

.btn-danger:hover {
	background: #1DAD67;
	color: #ffffff;
	border: 1px solid #1DAD67;
	text-shadow: none;
    text-decoration: none;
}

.container-me{
   margin-left: 150px;
   margin-right: 150px;
   margin-top: 50px;
   margin-bottom: 300px;
   text-align: center;
}

.holder1{
    margin-bottom: 20px;
    text-align: inherit;
    margin-left: -80px;
    margin-right: 100px;
}

.holder{
    margin-bottom: 40px;
    text-align: inherit;
    margin-left: -80px;
    margin-right: 100px;
}

.caption-text-center{
    margin-bottom: 10px;
}

.img-eu{
	width: 300px;
    height: 300px;
    margin-right: 70pt;
    


